<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JonSkeet.MiscUtil" version="0.2.0" targetFramework="net462" />
  <package id="midi-dot-net" version="1.1.0" targetFramework="net462" />
  <package id="SharpLearning.Common.Interfaces" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.Containers" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.DecisionTrees" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.InputOutput" version="0.26.9" targetFramework="net471" />
  <package id="SharpLearning.RandomForest" version="0.26.9" targetFramework="net471" />
</packages>