<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PianoRoll.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <PianoRoll.Properties.Settings>
            <setting name="ShowLinesOnBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNoteNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NormalizeTempo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProlongSustainedNotes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PixelsPerSecond" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Latency" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ShowBeats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrameLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShowKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowChords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayChords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscretizeBends" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransposeToC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Randomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyDetectorTrees" serializeAs="String">
                <value>60</value>
            </setting>
        </PianoRoll.Properties.Settings>
    </userSettings>
</configuration>
